/* 
GLOBAL STYLES 
*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    width: 100vw;
    text-align: center;
}

img {
    max-width: 100%;
}

header {
    margin: 0;
}
/* HEADER SECTION */

/* .header-img {
      background-image: url('./../assets/bg.png'); 
    background-size: cover;
    background-position: center;
     height: 13rem;
    width: 20.5rem;
     display: flex;
    align-items: center; 
     justify-content: center; 
  }   */
.nav-logo {
  display: flex;
  /* align-items: center; */
  text-align: center;
  width: 16rem;
  height: 8rem;
  padding: 0.5rem;
  margin: 2.5rem 0 0 0;
}




header p {
    font-size: 0.8rem;
    text-align: left;
    padding: 0;
    margin: -70 0 0 4rem;

}

.hero-title {
    font-size: 1.4rem;
    margin: 5rem 0 0 0;
}

.hero-info {
    font-size: 0.7rem;
    font-style: oblique;
    margin-top: 1rem;
}

.hero-image {

    display: flex;
  justify-content: center; /* center horizontally */
  gap: 0rem; /* space between buttons */
  margin-top: 1.2rem;
  padding: 1rem;
  
}
/* .hero-image2 {
     margin-top: -2rem;
} */



/* .cryptoflo-app-img {
    width: .5rem;
  height: 10rem;
  margin-left: 2rem;
  
} */

.highlight {
    color: #692cb1;
}

.install-ios-title {
    font-size: 1.2rem;
    color: #692cb1;
    text-align: center;
}

.install-ios-section {
    padding: 1rem;
}
.install-ios {
    font-size: 0.8rem;
}
.install-ios-section ul {
    text-align: left;
}





.button {
    background-color: #692cb1; /* Fill color */
  color: white;              /* Text color */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #221146; /* Slightly lighter on hover */
}

.footer {
    background-color: #1c0c30;
    font-size: 0.7rem;
    color: white;
    margin: 2rem 0 0 0;
    padding: 0.5rem 3rem;
}




@media screen and (min-width: 860px) {
.nav-logo {
  display: flex;
  text-align: center;
  position: absolute;
  width: 20rem;
  height: 8rem;
  padding: 1rem;
  margin: 5rem 20rem 10rem 5rem;
}
    
    footer p{
        font-size: 1.5rem;
    }
    
    .hero-title {
    font-size: 3rem;
    text-align: justify;
    margin: 10rem 5rem 3rem 0;
    padding: 5rem 5rem 5rem 7rem;

}

.hero-info {
    font-size: 1.2rem;
    font-style: oblique;
    text-align: justify;
    margin: -6rem 0 0 8rem;
}

.hero-image {

    display: flex;
   justify-content: left;
    width: 35%;
    margin: -30rem 0 0 0;
}

 .cryptoflo-app-img {
  position: relative;
  width: 60rem;
  height: 30rem; /* Add a valid height */
  margin: -350px 0 25rem 30rem;
}

.hero-image {

  display: flex;
  justify-content: center; /* center horizontally */
  gap: 0rem; /* space between buttons */
  margin: -30rem 0 0 5rem;
  padding: 1rem;

}

.install-ios-section {
    margin: 10rem 0 0 0;
    padding: 1rem;
}

.install-ios-title {
    font-size: 2.2rem;
    color: #692cb1;
    text-align: center;
}

.install-ios {
    font-size: 1rem;
}


.install-ios-section ul {
    text-align: left;
    margin: 0 0 2rem 25rem;
}

.button {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  margin: 0 0 3rem 0;
}
  
}