/* 
GLOBAL STYLES 
*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    width: 100vw;
    text-align: center;
}

img {
    max-width: 100%;
}

header {
    margin: 0;
}
/* HEADER SECTION */

.header-img {
      background-image: url('./../assets/bg.png'); 
    background-size: cover;
    background-position: center;
     height: 13rem;
    width: 20.5rem;
     display: flex;
    align-items: center; 
     justify-content: center;  */
  }  

/* header h1 {
    font-size: 2.5rem;
    /* text-align: right; */
    /* margin-top: 5rem; */
    padding: 12rem 2rem 0 0; */
}

header p {
    font-size: 0.8rem;
    text-align: right;
    padding: 3.5rem 3.5rem 0 0;
    margin-top: -4.5rem;
}

.hero-title {
    font-size: 1.4rem;
    margin: -2rem 0 0 0;
}

.hero-info {
    font-size: 0.7rem;
    font-style: oblique;
    margin-top: 1rem;
}

.hero-image {

    display: flex;
  justify-content: center; /* center horizontally */
  gap: 0rem; /* space between buttons */
  margin-top: 20px;
  padding: 1rem;
  
}
.hero-image2 {
    /* margin-top: -2rem; */
    
    
}



.cryptoflo-app-img {
    width: 15.5rem;
  height: 10rem;
  margin-left: 2rem;
  
}

.highlight {
    color: #692cb1;
}


.install-ios-section {
    padding: 1rem;
}
.install-ios {
    font-size: 0.8rem;
}
.install-ios-section ul {
    text-align: left;
}

.install-ios-title {
    font-size: 1.2rem;
    color: #692cb1;
    text-align: center;
}



.button {
    background-color: #692cb1; /* Fill color */
  color: white;              /* Text color */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 300px;
  cursor: pointer;
  text-align: center;
}

.purple-btn:hover {
  background-color: #221146; /* Slightly lighter on hover */
}