/* 
GLOBAL STYLES 
*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    width: 100vw;
    text-align: center;
}

img {
    max-width: 100%;
}

header {
    margin: 0;
}
/* HEADER SECTION */

.header-img {
      background-image: url('./../assets/bg.png'); 
    background-size: cover;
    /*background-position: center;
    height: 10rem;
    width: 22rem;
     display: flex;
    align-items: center; 
     justify-content: center;  */
  }  

header h1 {
    font-size: 2.5rem;
    text-align: right;
    /* margin-top: 5rem; */
    padding: 12rem 2rem 0 0;
}

header p {
    font-size: 0.8rem;
    text-align: right;
    padding: 3.5rem 3.5rem 0 0;
    margin-top: -4.5rem;
}

.hero-title {
    font-size: 1.4rem;
    padding: 3rem 0 0 0 ;
}

.hero-info {
    font-size: 0.7rem;
    font-style: oblique;
    margin-top: 1rem;
}

.hero-image {

    display: flex;
  justify-content: center; /* center horizontally */
  gap: 0rem; /* space between buttons */
  margin-top: 20px;
  padding: 1rem;
  
    /* display: flex;
    justify-content: center;
    width: 10rem;
    display: block;
    margin: auto; */
}
.hero-image2 {
    /* margin-top: -2rem; */
    
    
}



.cryptoflo-app-img {
    width: 15.5rem;
  height: 10rem;
  margin-left: 2rem;
  
  
}